@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background-color: #f7f8fa;
  color: #111827;
}

a {
  color: inherit;
  text-decoration: none;
}
